// Desktop styles

.footer{
    padding: 2rem 0;
    margin: 0 0 4rem 0;
    .container .footer-link{
        color: #000;
        font-weight: bold;
        &:hover{
            color: #1bd3c8;
        }
    }
}