// Destkop styles

.horizontal-divider {
  background: #01a4b7;
  border: 20px;
  height: 3px;
  width: 50px;
}

.in-touch-btn,
.go-btn,
.brexit-btn {
  border: #01a4b7 !important;
  background: #01a4b7 !important;
  color: #fff;
}

.quote-btn,
.quote-btn.mobile {
  background: #01a4b7 !important;
  border: #01a4b7 !important;
  color: #fff;
  transition: transform 0.2s;
  &:hover {
    background: #0d716b;
    transform: scale(1.1);
  }
}

.main {
  background: url("../assets/banner.png") center center no-repeat;
  background-size: cover;
  height: 690px;
  width: 100%;
  .main-contents {
    margin: auto 5rem 0 5rem;
    .left-section,
    .right-section {
      margin-top: 15rem;
    }
    .main-title {
      color: #fff;
      font-size: 40px;
      font-weight: bold;
    }

    .main-subtitle {
      color: #fff;
      font-size: 16px;
    }

    .advantages-list {
      list-style-type: none;
      li {
        color: #fff;
        font-size: 20px;
        &:before {
          content: "\2714\0020";
          color: #01a4b7;
        }
      }
    }
  }
}

.partners-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.partners-description {
  margin-top: 1rem;
  opacity: 0.6;
  font-size: 16px;
}

.stats-container {
  background: #006b6e;
  margin-top: 2rem;
  padding: 1rem 0;

  .stats-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 2rem 0 1rem 0 !important;
    text-align: center;
  }
  .horizontal-divider {
    margin: 0 auto;
  }

  .stats {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    h1,
    p {
      color: #fff;
    }

    .stats-item {
      h1 {
        font-size: 60px;
        font-weight: bold;
      }

      p {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }

  .action-btn {
    text-align: center;
    margin-top: 4rem;
  }
}

.costoms-records-container {
  .records-row .records-col {
    padding: 0 !important;
    margin: 0 !important;
  }
  .second-records-container {
    .records-col.text {
      .trans-horizontal-divider {
        margin-top: 8rem;
        background: #ccc;
        height: 0.2px;
        width: 550px;
      }
    }
  }
  .records-col.text > * {
    margin: 1rem 5rem;
  }
  .customs-agent {
    width: 760px;
  }

  .records-btn {
    background: #1bd3c8;
    border: #1bd3c8;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.offers-main-container {
  .call-action {
    margin: 2rem;
    h1 {
      font-weight: bold;
    }
  }
}

.carrier-ship {
  margin-top: 5rem;
  overflow-x: hidden;
}

.customs-support-container {
  .content-header {
    display: grid;
    margin: 2rem auto;
    width: 50%;
    .horizontal-divider {
      margin: auto;
    }
    h1 {
      text-align: center;
      font-weight: bold;
    }
  }

  .clearance-carousel-item{
    text-align: center;
    .description{
      width: 25%;
      margin: 0 auto;
      p:first-child{
        font-weight: bold
      }
    }
  }
}

.customs-clearance {
  margin-top: 1rem;
  background: url("../assets/clearance.png") center center no-repeat;
  background-size: cover;
  height: 690px;
  position: relative;
  .brexit-info {
    padding-top: 5rem;
    h1,
    p {
      color: #fff;
    }
    display: block;
    width: 50%;
    height: 100%;
    background: rgba(27, 211, 200, 0.3);
    & > * {
      margin: 1rem 0 0 5rem;
    }

    .brexit-btn {
      background: #1bd3c8;
      border: #1bd3c8;
      &:hover {
        background: #fff;
        color: #1bd3c8;
      }
    }
  }
}

.contact-us {
  background: #006b6e;
  .horizontal-divider {
    margin-bottom: 1rem;
  }
  .contact-grid-container {
    padding-top: 2rem;

    .contact-header h1,
    h6,
    h3,
    p {
      color: #fff;
    }

    .contact-form {
      .user-type-checks {
        margin-bottom: 1rem;
      }
      .form-check-label {
        color: #fff;
      }
      .horizontal-divider.contact {
        width: 100%;
        margin: 2rem 0;
      }
    }

    .contact-person-container {
      .contact-person-form {
        .horizontal-divider {
          margin: 1rem 0;
          width: 100%;
        }

        .go-btn {
          width: 100%;
          margin: 0 auto;
        }
      }
      .contact-profile {
        .support-lead {
          width: 100%;
          display: flex;
          column-gap: 1rem;
        }
      }
    }
  }
}

// mobile screen size
@media only screen and (max-width: 576px) {
  .navbar-collapse {
    margin-top: 1rem;
    .navbar-nav {
      align-items: center;
    }
  }
  .quote-btn.mobile {
    position: fixed;
    z-index: 1;
    bottom: 3%;
    left: 20%;
    width: 60%;
  }
  .main {
    mask-image: -webkit-gradient(
      linear,
      right top,
      right bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(27, 211, 200, 0.6))
    );
    -webkit-mask-image: -webkit-gradient(
      linear,
      right top,
      right bottom,
      from(rgba(0, 0, 0, 0.8)),
      to(rgba(27, 211, 200, 0.6))
    );
    .main-contents {
      width: 100%;
      margin: auto;
      display: block;
      height: 100%;
      overflow-y: scroll;
      .horizontal-divider.mobile {
        height: 1px !important;
        background: #000 !important;
      }

      .right-section {
        margin-top: 1%;
      }
    }
  }

  .partners .partner-img {
    background: gray;
  }


  .stats-container {
    .stats {
      flex-direction: column;
      margin: 0 auto;
      .horizontal-divider {
        background: rgba(219, 215, 215, 0.4) !important;
        height: 1px;
        width: 68%;
      }
      .stats-item {
        text-align: center;
      }
    }
    .in-touch-btn {
      width: 70%;
      padding: 10px 0;
    }
  }
  .clearance-carousel-item .description{
    width: 100% !important;
    
  }
  .mobile-screen-carousel {
    .carousel-indicators {
      bottom: -30%;
    }
  }
  .customs-clearance {
    .brexit-info {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      top: 40%;
    }
  }

  .customs-agent {
    object-fit: contain;
  }

  .support-lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    .details {
      text-align: center;
    }
  }
  .contact-person-form .horizontal-divider {
    height: 1px;
  }
}
