// Desktop styles

.menu-links {
  margin-left: 2rem;
}
// mobile screen size
@media only screen and (max-width: 576px) {
  .horizontal-divider.mobile{
    background: rgba(175, 171, 171, 0.4) !important;
    height: 1px;
    width: 90%;
  }
  .navbar-toggler {
    margin-right: 20px;
    color: none !important;
    border: none !important;
    outline: none !important;
    &:focus,
    &:active,
    &-icon:focus {
      outline: none !important;
      box-shadow: none !important; 
    }
  }
}
