@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

.app {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .app{
    overflow-x: hidden;
  }
}
